* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    color: royalblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

header {
    background-color: grey;
    text-align: center;
    opacity: .8;
    display: flex;
    margin-top: 15px;
    padding: 20px;
    margin-right: 40px;
}


main {
    background-color: grey;
    align-items: center;
    display: flex;
    opacity: .8;
}

nav a {
    display: inline-block;
    font-family: arial;
    font-size: 120%;
    color: royalblue;
    padding: 10px;
}
div h2 {
    display: inline-block;
    color: royalblue;
    padding: 10px;
    margin: 60px;
}