* {
    box-sizing: border-box;
    background-color: lightcoral;
}

body {
    font-family: Arial;
    color: royalblue;
    display: flex;
    flex-wrap: wrap;

}

header {
    /* background-color: grey; */
    text-align: center;
    opacity: .8;
    margin-top: 15px;
    padding: 20px;
    width: 100%;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    background-color: azure;
    color: royalblue;
    border-radius: 10px;
    margin: 5px;
}

main {
    /* background-color: grey; */
    /* align-items: center; */
    /* display: flex; */
    /* opacity: .8; */
}
/* Struggling to get my nav links center aligned */
nav a {
    display: inline-block;
    font-family: arial;
    font-size: 100%;
    color: royalblue;
    padding: 10px;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    color: royalblue;
    display: block;
    padding: 10px;
    text-decoration: none;
}

div h2 {
    display: flex;
    width: 400px;
    color: royalblue;
}

img {
    width: 400px;
    height: 300px;
    position: absolute;
    right: 10%;
    top: 28%;
}

p {
    position: absolute;
    right: 17%;
    top: 63%;

}